<context xmlns="ray-context">

    <bean id="bean1" class="org.skywind.ray.Bean1" autowired="bean2"/>

    <bean id="bean2" class="org.skywind.ray.Bean2"/>

    <bean id="bean3" class="org.skywind.ray.Bean3"
          init-methods="init1,init2"
          destroy-methods="destroy1,destroy2"
          autowired="bean1,bean2"/>

    <bean id="parent" class="org.skywind.ray.ParentBean" autowired="b2"/>
    <bean id="child" class="org.skywind.ray.ChildBean" autowired="b1,b2"/>

    <bean class="org.skywind.ray.BeanWithPostConstruct1" id="bwp1" init-methods="init1,init2"/>
    <bean class="org.skywind.ray.BeanWithPostConstruct2" id="bwp2" init-methods="init1,init2"/>
</context>

